/* FQAs */
details summary {
    list-style: none;
}

details[open] summary {
    font-weight: bold;
}

details p {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out, padding 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out, padding 0.5s ease-out;
	 transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

details[open] p {
    max-height: 200px; /* Adjust based on content length */
    padding-top: 8px;
}


/* Map Container */
#contact-us .map {
	border-radius: 0.5rem; /* Rounded corners for the map */
	overflow: hidden; /* Ensure the map fits within bounds */
}
