#heroSection {
	background-image: url("https://images.pexels.com/photos/8853499/pexels-photo-8853499.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

/*Hero Section Fade In keyFrame*/
#heroSection {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/*Intersection Observer for a staggered animation*/
[data-animate] {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

[data-animate].in-view {
    opacity: 1;
    transform: translateY(0);
}
